html,body{
margin: 0%;
font-family: Arial, sans-serif;
  background-color: black;
  color: white;
}

html{
  background-image: url("logobdlm\ 1.png");
  background-position: 50%;
  background-size:cover;
  background-image: url("logobdlm\ 1.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body{

background: rgba(0, 0, 0, 0.217);
}

h1, h2{
  text-align: center;
}